@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@400;500;700&family=Roboto:wght@400;500;700&display=swap');

* {
    margin: 0;
    padding: 0;
    border: none;
}

body {
    font-family: roboto, sans-serif;
    font-size: 300;
    letter-spacing: 1px;
    color: #ffffff;
    background-color: #212123;
}

h1, h2, h3 {
    font-family: montserrat, sans-serif;
    text-transform: uppercase;
}

/* headings and logo */

header {
    height: 150px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    position: relative;
    z-index: 1;
}

#logo {
    width: 150px;
    height: 150px;
    margin-left: 50px;
}

#nav-container {
    display: flex; 
    justify-content: flex-end;
    margin: 50px;
    font-size: 120%;
    letter-spacing: 2px;
}

#nav-container li {
    list-style: none;
    padding: 18px;
}

#nav-container a {
    color: #ffffff;
    padding: 5px;
    text-decoration: none;
    font-weight: 500;
    border-radius: 5px;
}

#nav-container a:hover {
    background-color: #ffffff;
    color: #ad987d;
}

.booking {
    background-color: #ad987d;
    border-radius: 5px;
}

/* code for the navbar based on a youtube video "Responsive navbar tutorial" */
.hamburger-menu {
    position: absolute;
    top: 3rem;
    right: 1rem;
    display: none;
    flex-direction: column;
    justify-content: space-between;
    width: 30px;
    height: 25px;
}

.hamburger-menu i {
    font-size: 50x;
}

/* hero section */

#hero-section {
    height: 500px;
}

#hero-image {
    height: 650px;
    width: 100%;
    background: url("../images/hero\ image.jpg") no-repeat center center;
    background-size: cover;
    position: relative;
    top: -150px;  
}

/* About us section */

#about-us {
    height: 450x;
    margin: 20px;
    display: flex;
    justify-content: space-around;
}

#about-container {
    width: 40%;
    background-color: #232528;
    border: 1px solid #ffa400;
    padding: 20px 10px;
    text-align: center;
    line-height: 2em;
    font-weight: 500;
}

#about-container h2 {
    padding-bottom: 20px;
    font-size: 30px;
}

#barbershop-img-container {
    width: 40%;
    overflow: hidden;
}

#barbershop-img-container img {
    width: 100%;
}

#booking {
    padding: 4px;
    text-decoration: none;
    background-color: #ffffff;
    color: #ffa400;
    font-size: 20px;
}

#booking:hover {
    background-color: #ffa400;
    color: #ffffff;
}

/* services & Price*/

#services {
    height: 450px;
    margin: 20px;
    padding: 10px;
    background-color:#232528 ;
    display: flex;
    flex-direction: column;
    align-items: center;   
}

.subtitle {
    font-size: 30px;
    margin: 20px;
}

#services ul {
    margin-top: 30px;
    font-size: 20px;
    list-style: none;
    text-transform: uppercase;
}

#services span {
    color: #ffa400;
}

/* contact */

#contact {
    height: 450px;
    margin: 20px;
    display: flex;
    flex-direction: column;
    background-color: #232528;
}

#details-container {
    display: flex;
    justify-content: space-around;
    margin-top: 30px;
}

#map {
    width: 40%;
}

.contact-details {
    border: 2px solid #ffa400;
    padding: 20px;
    align-self: center;
}

#contact h2 {
    align-self: center;
}

/* gallery */

#gallery {
    display: flex;
    flex-wrap: wrap;
    margin: 10px;
}

.gallery-img-container {
    width: 300px;
    margin: 5px;
}

.gallery-img-container img {
    width: 100%;
    height: auto;
    border: 1px solid #e1e1e1;
    border-radius: 10px;
}

/* footer */

footer {
    height: 100px;
    background-color: #232528;
    display: flex;
    justify-content: center;
}

.social-networks {
    display: flex;
    align-self: center;
}

.social-networks li {
    list-style: none;
    font-size: 160%;
    padding: 20px;
}

.social-networks i {
    color: #ffa400;
    padding: 5px;
}

.social-networks i:hover {
    background-color: #ffa400;
    color: #ffffff;
}

/* book appointment */

#background {
    width: 60%;
    padding: 25px;
    margin: 25px auto;
    border-radius: 10px;
    background-color: #e1e1e1;
}

#text-container {
    margin: 25px;
    padding: 25px;
}

#text-container p {
    margin-top: 15px;
}

form {
    display: grid;
    margin: 0 25px;
    padding: 0 25px;
}

/* code based on coder coffeehouse project */
label {
   margin: 10px 15px 5px 0 ;
}

.input-style {
    padding: 5px;
    border-radius: 5px
}

.buttom {
    margin-top: 20px;
    width: 30%;
    padding: 10px;
    background-color: #ad987d;
}

/* media queries */

/* for larger to small screen sizes from 1200 wide annd down */

@media screen and (max-width: 1200px) {

    /* code for the navbar based on a youtube video "Responsive navbar tutorial" */
    .hamburger-menu{
        display: flex;
    }

    nav {
       /* display: none; */
        width: 100%;
    }

    #header {
        flex-direction: column;
        align-items: flex-start;
    }

    #nav-container {
        width: 100%;
        flex-direction: column;
    }

    #nav-container li {
        text-align: center;
    }

    nav.active {
        display: flex;
    }
}