@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@400;500;700&family=Roboto:wght@400;500;700&display=swap');

* {
    margin: 0;
    padding: 0;
    border: none;
}

body {
    font-family: roboto, sans-serif;
    font-size: 300;
    letter-spacing: 1px;
    color: #A39594;
}

h1, h2, h3 {
    font-family: montserrat, sans-serif;
    text-transform: uppercase;
}

/* headings and logo */

header {
    height: 150px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    position: relative;
    z-index: 1;
}

#logo {
    width: 150px;
    height: 150px;
    margin-left: 50px;
}

#nav-container {
    display: flex; 
    justify-content: flex-end;
    margin: 50px;
    font-size: 120%;
    letter-spacing: 2px;
}

#nav-container li {
    list-style: none;
    padding: 18px;
}

#nav-container a {
    color:#A39594 ;
    text-decoration: none;
    font-weight: 500;
}

#nav-container a:hover {
    background-color: #A39594;
    color:#FFCD53 ;
}

/* hero section */

#hero-section {
    height: 500px;
}

#hero-image {
    height: 650px;
    width: 100%;
    background: url("../images/hero\ image.jpg") no-repeat center center;
    background-size: cover;
    position: relative;
    top: -150px;  
}

/* About us section */

#about-us {
    height: 450x;
    margin: 20px;
    display: flex;
    justify-content: space-around;
}

#about-container {
    width: 40%;
    border: 1px solid #512900;
    padding: 20px 10px;
    text-align: center;
    line-height: 2em;
    color: #A39594;
    font-weight: 500;
}

#about-container h2 {
    padding-bottom: 20px;
    font-size: 30px;
}

#barbershop-img-container {
    width: 40%;
    overflow: hidden;
}

#barbershop-img-container img {
    width: 100%;
}

#booking {
    padding: 4px;
    text-decoration: none;
    background-color: #A39594;
    color: #FFCD53;
    font-size: 20px;
}

#booking:hover {
    background-color: #FFCD53;
    color: #A39594;
}

/* services & Price*/

#services {
    height: 450px;
    margin: 10px;
    padding: 10px;
    background-color:#512900 ;
    display: flex;
    flex-direction: column;
    align-items: center;   
}

.subtitle {
    
}