@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital@1&family=Roboto:ital,wght@1,300&display=swap');

* {
    margin: 0;
    padding: 0;
    border: none;
}

body {
    font-family: roboto, sans-serif;
    font-size: 300;
    letter-spacing: 1px;
}

h1, h2, h3 {
    font-family: montserrat, sans-serif;
    text-transform: uppercase;
}

/* headings and logo */

header {
    height: 150px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    position: relative;
    z-index: 1;
}

#logo {
    width: 150px;
    height: 150px;
    margin-left: 50px;
}

#nav-container {
    display: flex; 
    justify-content: flex-end;
    margin: 50px;
    font-size: 120%;
    letter-spacing: 2px;
}

#nav-container li {
    list-style: none;
    padding: 18px;
}

#nav-container a {
    color: white;
    text-decoration: none;
}

#nav-container a:hover {
    background-color: white;
    color: #18224A;
}

/* hero section */

#hero-section {
    height: 500px;
}

#hero-image {
    height: 650px;
    width: 100%;
    background: url("../images/hero\ image.jpg") no-repeat center center;
    background-size: cover;
    position: relative;
    top: -150px;  
}

/* About us section */

#about {
    text-align: center;
    margin: 20px 0;
}

#about ~ p {
    text-align: center;
}
