@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@400;500;700&family=Roboto:wght@400;500;700&display=swap');

* {
    margin: 0;
    padding: 0;
    border: none;
    text-decoration: none;
    list-style: none;
}

body {
    font-family: roboto, sans-serif;
    font-size: 300;
    letter-spacing: 1px;
    color: #ffffff;
    background-color: #212123;
}

h1,
h2,
h3 {
    font-family: montserrat, sans-serif;
    text-transform: uppercase;
}

/* style for all section title's */
.subtitle {
    margin: 20px;
    padding-bottom: 20px;
    font-size: 30px;
    text-align: center;
    color: #ad987d;
}

/* headings and logo */

header {
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    align-items: center;
    position: relative;
    z-index: 1;
    width: 100%;
    transition: 0.3s;
}

#logo {
    width: 150px;
    height: 150px;
}

.nav {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

#nav-container {
    display: flex;
    justify-content: center;
    flex-direction: row;
    align-items: center;
    z-index: 1;
    transition: 0.5s;
    font-size: 120%;
}

#nav-container li {
    padding: 18px;
}

#nav-container a {
    display: block;
    color: #ffffff;
    padding: 5px;
    font-weight: 500;
    border-radius: 5px;
    line-height: 1;
}

#nav-container a:hover {
    background-color: #ffffff;
    color: #ad987d;
}

.booking {
    background-color: #ad987d;
    border-radius: 5px;
}

/* hamburger menu */

.hamburger {
    position: relative;
    width: 30px;
    height: 4px;
    background-color: #ffffff;
    border-radius: 10px;
    cursor: pointer;
    z-index: 2;
    transition: 0.3s;
}

.hamburger:before,
.hamburger:after {
    content: "";
    position: absolute;
    height: 4px;
    right: 0;
    background: #ffffff;
    border-radius: 10px;
    transition: 0.3s;
}

.hamburger:before {
    top: -10px;
    width: 20px;
}

.hamburger:after {
    top: 10px;
    width: 25px;
}

.toggle-menu {
    position: absolute;
    width: 30px;
    height: 100%;
    z-index: 3;
    cursor: pointer;
    opacity: 0;
}

.hamburger,
.toggle-menu {
    display: none;
}

.nav input:checked~.hamburger {
    background: transparent;
}

.nav input:checked~.hamburger:before {
    top: 0;
    transform: rotate(-45deg);
    width: 30px;
}

.nav input:checked~.hamburger:after {
    top: 0;
    transform: rotate(45deg);
    width: 30px;
}

.nav input:checked~#nav-container {
    right: 0;
}

/* hero section */

#hero-section {
    height: 500px;
}

#hero-image {
    height: 650px;
    width: 100%;
    background: url("../images/hero\ image.jpg") no-repeat center center;
    background-size: cover;
    position: relative;
    top: -150px;
}

/* About us section */

#about-us {
    height: 450x;
    margin: 20px;
}

#about-container {
    width: 100%;
    display: flex;
    justify-content: space-around;
    flex-wrap: wrap;
    padding: 20px 10px;
}

.about-info {
    width: 60%;
    line-height: 1.7em;
}

.align-center {
    text-align: center;
}

#booking {
    padding: 4px;
    background-color: #ad987d;
    color: #ffffff;
    font-size: 20px;
    border-radius: 5px;
    font-weight: 500;
}

#booking:hover {
    background-color: #ffffff;
    color: #ad987d;
}

#barbershop-img-container {
    width: 300px;
    margin: 0 20px;
}

#barbershop-img-container img {
    width: 100%;
    height: auto;
    border: 1px solid #e1e1e1;
    border-radius: 10px;
}

/* services & Price*/

#services {
    margin: 20px;
    padding: 10px;
}

#services-container {
    width: 100%;
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
}

.service-type-container {
    width: 45%;
    display: flex;
    justify-content: space-between;
    margin: 20px;
    padding: 5px;
    background-color: #e1e1e1;
    color: #212123;
}

.service-type {
    margin-right: 20px;
}

.service-type h3 {
    margin-bottom: 5px;
    color: #ad987d;
}

.price {
    align-self: center;
    font-weight: 600;
    color: #ad987d;
}

/* contact */

#contact {
    margin: 20px;
    display: flex;
    flex-direction: column;
}

#details-container {
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    margin-top: 30px;
}

#map {
    width: 40%;
    margin: 20px;
}

.contact-details {
    border: 2px solid #ad987d;
    padding: 20px;
    align-self: center;
    margin: 20px;
}

/* gallery */

#gallery {
    display: flex;
    flex-wrap: wrap;
    margin: 20px;
    justify-content: space-evenly;
}

.gallery-img-container {
    width: 320px;
    margin: 5px;
}

.gallery-img-container img {
    width: 100%;
    height: auto;
    border: 1px solid #e1e1e1;
    border-radius: 10px;
}

/* footer */

footer {
    height: 100px;
    display: flex;
    justify-content: center;
}

.social-networks {
    display: flex;
    align-self: center;
}

.social-networks li {
    font-size: 160%;
    padding: 20px;
}

.social-networks i {
    color: #ad987d;
    padding: 5px;
}

.social-networks i:hover {
    background-color: #ad987d;
    color: #ffffff;
}

/* book appointment */

#background {
    width: 60%;
    padding: 25px;
    margin: 25px auto;
    border-radius: 10px;
    background-color: #e1e1e1;
    color: #212123;
}

#text-container {
    margin: 25px;
    padding: 25px;
}

#text-container h2 {
    color: #ad987d;
}

#text-container p {
    margin-top: 15px;
}

form {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    margin: 0 25px;
    padding: 0 25px;
}

.inputs {
    width: 300px;
    display: grid;
    margin-right: 15px;
}

.textarea {
    display: grid;
    width: 100%;
}

/* code based on coder coffeehouse project */
label {
    margin: 10px 15px 5px 0;
    font-weight: 500;
}

.input-style {
    padding: 5px;
    border-radius: 5px
}

.buttom {
    margin-top: 20px;
    padding: 10px;
    background-color: #ad987d;
    font-weight: 600;
}

/* media queries */

/* from 1217px wide and down */

@media screen and (max-width: 1217px) {

    /* book appointment section */
    .inputs {
        width: 100%;
    }
}


/* From 1140px wide and down */

@media screen and (max-width: 1140px) {

    /* contact section */
    .contact-details {
        margin: 10px;
        pad: 10px;
    }
}

/* from 1070px wide and down */

@media screen and (max-width: 1075px) {

    /* hero section */
    #hero-image {
        top: -210px;
    }

    /* service section */
    #services-container {
        justify-content: center;
    }

    .service-type-container {
        width: 90%;
    }

    /* contact section */
    #details-container {
        justify-content: space-evenly;
    }

    #map {
        width: 100%;
    }
}

/* from 966px wide and down */

@media screen and (max-width: 966px) {

    /* header and logo section */
    .hamburger,
    .toggle-menu {
        display: block;
        margin-right: 20px;
        position: fixed;
        right: 20px;
    }

    #nav-container {
        justify-content: start;
        flex-direction: column;
        align-items: center;
        position: fixed;
        top: 0;
        right: -300px;
        background: #212123;
        width: 300px;
        height: 100%;
        padding-top: 85px;
    }

    #nav-container li {
        width: 85%;
        padding: 12px;
    }

    #nav-container li a {
        padding: 18px;
    }

}

/* from 925px wide and down */

@media screen and (max-width: 925px) {

    /* book appointment section */
    #text-container {
        margin: 25px 0;
        padding: 25px 0;
        text-align: center;
    }

    form {
        margin: 0 10px;
        padding: 0 10px;
    }
}

/* from 890px wide and down */

@media screen and (max-width: 890px) {

    /* about section */
    .about-info {
        width: 100%;
        margin: 0 10px 20px;
        padding: 0 10px;
    }

    #barbershop-img-container {
        width: 100%;
        margin: 20px;
    }
}

/* from 616px wide and down */

@media screen and (max-width: 616px) {

    /* book appointment section */
    #background {
        width: 75%;
    }

    #text-container {
        font-size: 12px;
    }

    form {
        font-size: 12px;
    }
}

