@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital@1&family=Roboto:ital,wght@1,300&display=swap');

* {
    margin: 0;
    padding: 0;
    border: none;
}

body {
    font-family: roboto, sans-serif;
    font-size: 300;
}

/* headings and logo */

header {
    background-color:#18224A ;
    height: 150px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

#logo {
    width: 150px;
    height: 150px;
    margin-left: 50px;
}

#nav-container {
    display: flex; 
    justify-content: flex-end;
    margin: 50px;
    font-size: 120%;
    letter-spacing: 2px;
}

#nav-container li {
    list-style: none;
    padding: 18px;
}

#nav-container a {
    color: white;
    text-decoration: none;
}

#nav-container a:hover {
    background-color: white;
    color: #18224A;
}

/* hero image */

#hero-image {
    height: 500px;
    width: 100%;
    background: url("../images/hero\ image.jpg") no-repeat center center;
    background-size: cover;
   
}